<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>VVV Helpers</title>
  </head>
  <body>
    <h1>VVV Helpers</h1>
    <h2>Apple MacOS Validierung</h2>
    <ul>
      <li>{{ vagrant }}</li>
    </ul>
  </body>
</html>
